@import "nib"

.img-galeria-navia
  -moz-transform rotate(5deg)
  -ms-transform rotate(5deg)
  -o-transform rotate(5deg)
  -webkit-transform rotate(5deg)
  border 5px solid #ccc
  border-radius 5px
  box-shadow 4px 4px 5px grey
  margin-top 3em

.text-galeria-navia
  text-shadow 1px 1px 2px grey