<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Mundos | CD Alborada</title>
	<link rel="shortcut icon" href="../../img/fav-icon/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../../css/estilos.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../../js/min/codigo-mundos.js"></script>
</head>
<body>
	<header>
		<div id="logo">#Logo#</div>
		<div id="rotulo">Por definir... :-)</div>
	</header>
	<nav>
		<ul id="menu">
			<li><a href="../../index.html">Inicio</a></li>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Quienes-Somos</a></li>
			<li><a href="#">Apoyanos</a></li>
			<li><a href="../galeria/galeria.html">Galeria</a></li>
		</ul>
	</nav>
	<div id="sub-menu">
			<figure>
					<a href="../mundos/mundos.html">
						<img src="../../img/Mundos.gif" alt="Mundos" id="mundos">
					</a>
					<a href="../Voces/voces.html">
						<img src="../../img/Voces.gif" alt="Voces" id="voces">
					</a>
					<a href="#">
						<img src="../../img/Cuerpo.gif" alt="Cuerpo" id="cuerpo">
					</a>	
			</figure>
		</div>
	<section>
		<article>
		<ul class="block">
			<li class="block"><img class="block" src="../../img/mundos/1.jpg" alt="genética"></li>
			<li class="block"><img class="block" src="../../img/mundos/2.png" alt="frases"></li>
			<li class="block"><img class="block" src="../../img/mundos/3.gif" alt="vigo"></li>
			<li class="block"><img class="block" src="../../img/mundos/4.jpg" alt="frases"></li>
			<li class="block"><img class="block" src="../../img/mundos/5.gif" alt="viñeta"></li>
			<li class="block"><img class="block" src="../../img/mundos/6.gif" alt="viñeta"></li>
			<li class="block"><img class="block" src="../../img/mundos/7.gif" alt="foto"></li>
			<li class="block"><img class="block" src="../../img/mundos/8.gif" alt="foto"></li>
			<li class="block"><img class="block" src="../../img/mundos/9.gif" alt="foto"></li>
			<li class="block"><img class="block" src="../../img/mundos/10.gif" alt="gif-gatito"></li>
		</ul>
		</article>
	</section>
</body>
</html>