@import "nib"

background = #8CFDCA

a
  text-decoration none

body
  font-family: 'Open Sans'
  font-size:   16px
  margin:      0 auto
  text-align:  center

header
  background-color: background
  height:           120px
  margin:           0 auto
  width:            100%

hr
  width: 90%

nav
	width   100%

ul > li
	display:       inline-block
	vertical-align top


/* <------ FIN DE ETIQUETAS GENERICAS --------> */

#articulos
  margin:    0 auto
  max-width: 1200px

#logo,
#rotulo
  display: inline-block

#menu
  padding       1.5em 0 0 0
  width         100%
  word-spacing  1.5em
  display       inline-block

#sub-menu
  padding:      2em 0
  word-spacing: 3em

.articulo

  border-top:     5px solid #8CFDCA
  display:        inline-block
  width:          27%
  padding:        0 1.3em 1.3em 1.3em
  vertical-align: top
  margin-bottom   3em

.fondo-1
  background:     url("../img/fondo-1.jpg") no-repeat center center
  background-size cover

.primero
  border-right 1px solid
  margin-right 1.2em

.tercero
  border-left 1px solid
  margin-left 1.2em

.boton
  background-color: background
  border-radius:    12px
  box-shadow        4px 4px 8px grey
  color             white
  padding:          0.6em
  text-shadow       2px 2px 2px black
  width:            30% 

.salidas
  box-shadow    2px 2px 2px 3px grey
  color         white
  margin-bottom 4em
  padding       .6em 1.5em .6em 1.5em
  text-align    left
  text-shadow   2px 2px 2px black
  width         98%

.top
  line-height 3em

/* <------- Fin de alta resolución -------> */
@media only screen and (min-width: 720px) and (max-width: 1195px)
  .articulo
    width: 25%

  .salidas
    width  90%
    margin 0 auto

@media screen and (min-width: 541px) and (max-width: 719px)
  .articulo
    width 40%

  .salidas
    width  90% 
    margin 0 auto

@media only screen and (min-width: 320px) and (max-width: 540px)
  figure
    padding      0
    margin       0 auto
    word-spacing 0
  ul
    padding 0
    margin  0

  ul > li
    display          block
    background-color #000
    text-align       center

  ul > li > a
    color #fff

  #menu
    padding-top 0
    color       #fff

  .articulo
    width:  80%
    margin: 1.1em 0

  .primero
    border-right none
    margin-right 0
    
  .salidas
    width  90%
    margin 0 auto
  
  .tercero
    border-left none
    margin-left 0

