<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Voces | CD Alborada</title>
	<link rel="shortcut icon" href="../../img/fav-icon/favicon.ico" />
	<meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../../css/estilos.css">
</head>
<body>
	<header>
		<div id="logo">#Logo#</div>
		<div id="rotulo">Por definir... :-)</div>
	</header>
	<nav>
		<ul id="menu">
			<li><a href="../../index.html">Inicio</a></li>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Quienes-Somos</a></li>
			<li><a href="#">Apoyanos</a></li>
			<li><a href="../galeria/galeria.html">Galeria</a></li>
		</ul>
	</nav>
	<section>
		<article>
			<img class="avatar inline" src="../../img/Voces/Alonso.jpg" alt="Alonso Montero"></img>
			<div class="inline barritas">
				<div class="left">
					<h2>Xesús Alonso Montero</h2>
				</div>
				<div class="linea-1 left"></div>
				<div class="linea-2 left"></div>
				<br>
				<div class="linea-3 left"></div>
			</div>
		</article>
	</section>
</body>
</html>