<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Galeria Fotos Navia - CD Alborada</title>
	<meta name="viewport" content="width=device-width minimum-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="../../img/fav-icon/favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../../css/estilos.css"/>
</head>
<body>
	<nav>
		<ul id="menu">
			<li><a href="../../index.html">Inicio</a></li>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Quienes-Somos</a></li>
			<li><a href="#">Apoyanos</a></li>
			<li><a href="galeria.html">Galeria</a></li>
		</ul>
	</nav>
	<section class="fotorama">
		<img src="../../img/salida-navia/1.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/2.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/3.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/4.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/5.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/6.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/7.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/8.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/9.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/10.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/11.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/12.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/13.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/14.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/15.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/16.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/17.jpg" class="fotorama" alt="Navia">
		<img src="../../img/salida-navia/18.jpg" class="fotorama" alt="Navia">
	</section>	
</body>
</html>