<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Galeria Fotos Navia - CD Alborada</title>
	<link rel="shortcut icon" href="../img/fav-icon/favicon.ico" />
	<link rel="shortcut icon" href="img/fav-icon/favicon.ico" />
	<link rel="stylesheet" href="../css/estilos.css"/>
</head>
<body>
	<section class="fotorama">
		<img src="../img/salida-navia/1.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/2.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/3.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/4.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/5.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/6.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/7.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/8.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/9.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/10.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/11.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/12.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/13.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/14.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/15.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/16.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/17.jpg" class="fotorama" alt="Navia">
		<img src="../img/salida-navia/18.jpg" class="fotorama" alt="Navia">
	</section>	
</body>
</html>