@import "nib"

ul > li
	display         block
	text-decoration none
	text-align      center

.block
	display    block
	text-align center
	margin     0 auto

@media screen and (max-width: 720px)

	.block 
		width 80%

@media screen and (max-width: 480px)

	.block
		margin 0 auto
		width  90%
