<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>CD-Alborada || Articulo-Marco</title>
	<link rel="shortcut icon" href="../../img/fav-icon/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="../../css/estilos.css"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../../js/min/codigo.min.js"></script>
</head>
<body>
	<header>
		<div id="logo">#Logo#</div>
		<div id="rotulo">Por definir... :-)</div>
	</header>
	<nav>
		<ul id="menu">
			<li><a href="../../index.html">Inicio</a></li>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Quienes-Somos</a></li>
			<li><a href="#">Apoyanos</a></li>
			<li><a href="../galeria/galeria.html">Galeria</a></li>
		</ul>
	</nav>
	<section class="body">
		<article class="article">
			<h2>Artículo por Paciente</h2>
			<h3 class="left">Fecha: 13/02/2014</h3>
			<p class="p">El pasado día veintinueve de septiembre estuvimos algunos compañeros en la feria que se llevaba a cabo en San Paio de Navia. Fuimos invitados a hacer una labor de voluntariado en un “stand” que tenía como soporte principal la furgoneta del proyecto Creative. Junto con SOGAMA éramos la única asociación que se encontraba en la calle peatonal paralela a la principal. Todos los demás puestos eran de venta de manualidades y productos artesanos. 
			<br>
			Nuestro objetivo era ayudar en lo que a dar nociones sobre las funciones de la A.C.L.A.D. Supervisados por el educador que estaba allí presente, lo primero que hicimos fue observarle en diversas intervenciones interactuando con los interesados. Así más o menos aprendimos a cómo dirigirnos y a qué darle prioridad informativa. 
			<br>
			Desde la perspectiva de usuario, al estar en un puesto informativo, se le podía explicar a la gente que se acercaba lo que se hace en Alborada con convencimiento. Los que estamos día tras día y que hemos acudido al recurso por necesidad de terapia aportamos otro punto de vista.
			En mi caso concreto al haber estado tanto en comunidad como en centro de día me daba más seguridad. La experiencia proporciona menos dudas si alguien te plantea el “Qué se hace allí”.
			Sin embargo aquella tarde pocas personas se acercaban a preguntar, más bien se quedaban a una distancia prudencial tratando de saciar su curiosidad leyendo  los textos de las pancartas que estaban a los laterales de la furgoneta.
			<br>
			Realmente no hablé con mucha gente, sólo hacía una pequeña descripción de los servicios que hacía la asociación a los que lo solicitaban. A veces inclusive era yo quien abordaba a los que se aproximaban a la mesa, pero la gente se quedaba callada sin preguntar. 
			La experiencia fue buena, la repetiría. Coger más tablas hablando en público es uno de mis objetivos.
 			</p>
		</article>
	</section>
</body>
</html>